:root {
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --black: #282623;
  --warm-black: #201e1c;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

header {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
  width: 100%;
  height: 334px;
}

header .logo {
  width: 150px;
  height: 24px;
  align-self: center;
  margin: 50px 0;
}

header .header__text__container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  align-self: center;
}

header .header__titulo {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 2.6rem;
  font-size: 2.4rem;
  color: var(--just-white);
  margin-bottom: 24px;
}

header .header__description {
  font-size: 1.4rem;
  color: var(--soft-orange);

  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;

  margin-bottom: 30px;
}

header .header__conoce {
  font-size: 1.4rem;
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 1.8rem;
  text-decoration: none;
  color: var(--warm-black);
  position: absolute;
  top: 310px;
  background-color: var(--off-white);
  padding: 15px;
  box-shadow: 0px 4px 8px rgb(89 73 30 / 16%);
  border-radius: 4px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  width: fit-content;
}

.tasas {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--off-white);
}

.tasas__logo {
  margin: 60px 0 40px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.tasas h2 {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.6rem;
  color: var(--warm-black);

  width: 90%;
  min-width: 288px;
  max-width: 900px;
}

.tasas__descripcion {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #757575;
  margin-top: 24px;
  margin-bottom: 30px;

  width: 90%;
}

.tabla__monedas,
.tabla__comisiones {
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: 360px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.tabla__comisiones {
  /*margin-top: 24px;*/
}

.tabla__monedas__title,
.tabla__comisiones__title {
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.3rem;
  margin-bottom: 15px;
  text-align: left;
}

.tabla__monedas__title {
  color: var(--bitcoin-orange);
}

.tabla__comisiones__title {
  color: var(--secondary-blue);
}

.tabla__monedas table,
.tabla__comisiones table {
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: #b5b0ac;
  border-radius: 4px;
  border: solid 1px var(--off-white);

  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.7rem;

  text-align: center;
  letter-spacing: -0.02em;
}

.tabla__monedas table td,
.tabla__comisiones table td {
  width: 50%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: var(--grey);
  background-color: var(--just-white);
}

.tabla__tendencia__precio__icono {
  margin: 0 auto;
}

.tabla__tendencia__precio__icono img {
  margin-left: 5px;
}

.top__left {
  border-radius: 13px 0 0 0;
}

.top__right {
  border-radius: 0 13px 0 0;
}

.botom__left {
  border-radius: 0 0 0 13px;
}

.botom__right {
  border-radius: 0 0 13px 0;
}

.tabla__monedas .tabla__aviso {
  background-color: var(--soft-orange);
  color: var(--warm-black);
}

.tabla__comisiones .tabla__aviso {
  background-color: #e7f5ff;
  color: var(--warm-black);
}

.tabla__aviso {
  margin-top: 15px;
  padding: 8px;
  border-radius: 8px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.beneficios {
  display: inline-block;
  position: relative;
  background-color: var(--warm-black);
  color: var(--just-white);
  padding-top: 64px;
  padding-bottom: 46px;
  height: max-content;
  width: 100%;
}

.beneficios__header__img {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -11px;
  width: 38px;
  height: 24px;
}

.beneficios__titulo {
  text-align: center;
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.6rem;
  margin: 0px 15px 24px 15px;
}

.beneficios__descripcion {
  text-align: center;
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-align: center;
  color: #808080;
  margin: 24px 15px 32px 15px;
}

.beneficios__card {
  width: 90%;
  min-width: 280px;
  max-width: 400px;
  min-height: 150px;
  margin: 0 auto;
  background-color: var(--black);
  padding: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  margin-top: 16px;
}

.beneficios__card__icon {
  width: 24px;
  height: 24px;
  margin-bottom: 10px;
}

.beneficios__card_titulo {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: var(--just-white);
  margin-bottom: 10px;
}

.beneficios__card__descripcion {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #808080;
}

.comodin {
  background-image: url("/assets/img/amorcito.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 100%;
  height: 67vh;
  overflow: hidden;
}

.comodin__title {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.6rem;
  text-align: center;
  color: #ffffff;
  margin-top: 64px;
}

.planes {
  background-color: var(--off-white);
  height: auto;
  padding: 64px 15px;
  width: 100%;
}

.planes__title {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.6rem;
  text-align: center;
  color: var(--warm-black);
}

.planes__description {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-align: center;
  color: #757575;
  margin-top: 24px;
}

.planes__card {
  margin-top: 50px;
  background-color: var(--just-white);
  border-radius: 8px;
  width: 60%;
  min-width: 190px;
  max-width: 200px;
  margin: 50px auto;
  min-height: 250px;
  height: auto;
  position: relative;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  padding-bottom: 1px;
  scroll-snap-align: center;
}

.planes__card__premiun {
  margin-top: 50px;
  scroll-snap-align: center;
  background-color: var(--warm-black);
  border-radius: 8px;
  width: 60%;
  min-width: 190px;
  max-width: 200px;
  margin: 50px auto;
  min-height: 250px;
  height: auto;
  position: relative;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  padding-bottom: 1px;
  color: var(--just-white);
}

.planes__card__boton {
  padding: 8px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: center;
  color: var(--just-white);
  background-color: var(--bitcoin-orange);
  width: fit-content;
  border-radius: 8px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: -14px;
}

.planes__card__boton__mensual {
  padding: 8px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: center;
  color: var(--just-white);
  background-color: var(--secondary-blue);
  width: fit-content;
  border-radius: 8px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: -14px;
}

.planes__card__title {
  text-align: center;
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  padding-top: 31px;
}

.planes__card__price {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 5.2rem;
  line-height: 6.3rem;
  padding-top: 8px;
  text-align: center;
  position: relative;
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.planes__card__price span {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: -0.08em;
  position: absolute;
  left: -8px;
  top: 16px;
}

.planes__card__aviso {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: center;
  color: #757575;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 16px;
}

.planes__card__action {
  background: #faf8f7;
  border: 2px solid #f7931a;
  border-radius: 4px;
  width: fit-content;
  margin: 0 auto;
  margin-top: 16px;
  margin-bottom: 24px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.planes__card__action__text {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-align: center;
  align-self: center;
  color: var(--warm-black);
}

.planes__card__action__icon {
  background-image: url("/assets/icons/orange-right-arrow.svg");
  background-repeat: no-repeat;
  background-position: right;
  height: 24px;
  width: 24px;
  display: inline-block;
  margin-left: 6px;
}

.planes__container__slider {
  display: flex;
  gap: 13px;
  height: auto;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

footer {
  display: flex;
  gap: 50px;
  justify-content: space-around;
  padding: 40px 60px;
  background-color: var(--bitcoin-orange);
  color: var(--just-white);
}

.footer__links {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.footer__links li {
  list-style: none;
  margin-top: 8px;
}

.footer__logo {
  text-align: center;
  align-self: center;
}

.footer__logo img {
  transform: scaleX(-1);
}

.footer__logo h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.8rem;
  text-align: center;
}
